Repository MeikelLP/quantum-core-x, pull requests merged in 2024-11, with the labels that each got.

#199 feat(game): Implement IFileProvider
  .gitignore
  docs/blog/2020-05-06-dev-update-1.md
  docs/blog/2020-05-18-dev-update-2.md
  docs/blog/2020-11-24-dev-update-3.md
  docs/docs/API/configuration.md
  docs/docs/Configuration/atlasinfo.md
  docs/docs/Configuration/auth.md
  docs/docs/Configuration/common.md
  docs/docs/Configuration/exp.md
  docs/docs/Configuration/exp_guild.md
  docs/docs/Configuration/game.md
  docs/docs/Configuration/index.md
  src/Core/QuantumCoreHostBuilder.cs
  src/CorePluginAPI/IAnimationManager.cs
  src/CorePluginAPI/ICommandManager.cs
  src/CorePluginAPI/IExperienceManager.cs
  src/CorePluginAPI/ILoadable.cs
  src/CorePluginAPI/ISkillManager.cs
  src/Executables/Game/AnimationManager.cs
  src/Executables/Game/Extensions/ServiceExtensions.cs
  src/Executables/Game/GameServer.cs
  src/Executables/Game/IStructuredFileProvider.cs
  src/Executables/Game/ItemManager.cs
  src/Executables/Game/MonsterManager.cs
  src/Executables/Game/PlayerUtils/ExperienceManager.cs
  src/Executables/Game/Program.cs
  src/Executables/Game/Services/AtlasProvider.cs
  src/Executables/Game/Services/DropProvider.cs
  src/Executables/Game/Services/IDropProvider.cs
  src/Executables/Game/Services/ParserService.cs
  src/Executables/Game/Services/SpawnGroupProvider.cs
  src/Executables/Game/Services/SpawnPointProvider.cs
  src/Executables/Game/SkillManager.cs
  src/Executables/Game/StructuredFileProvider.cs
  src/Executables/Game/Types/ItemProtoLoader.cs
  src/Executables/Game/Types/MobProtoLoader.cs
  src/Executables/Game/Types/StructuredFile.cs
  src/Libraries/Game.Commands/CommandManager.cs
  src/Tests/Core.Tests/ParserTests.cs
  src/Tests/Game.Tests/CommandTests.cs
  src/Tests/Game.Tests/ItemProtoTests.cs
  src/Tests/Game.Tests/MobProtoTests.cs
  src/Tests/Game.Tests/WorldTests.cs
Labels: type/enhancement, area/game

#203 feat(game): track heartbeat to ensure account connected
  docs/docs/Metin 2/Process Flows.md
  src/Core.Networking/NetworkingConstants.cs
  src/Executables/Game/GameConnection.cs
  src/Executables/Game/PacketHandlers/PongHandler.cs
  src/Executables/Game/Packets/Ping.cs
  src/Executables/Game/Packets/Pong.cs
Labels: type/enhancement, area/docs, area/game

#210 feat: add .editorconfig
  src/.editorconfig
Labels: type/enhancement, area/dev

#204 feat: .NET 9
  .github/workflows/dotnet-pipeline.yml
  .github/workflows/gh-pages-deploy.yml
  .github/workflows/gh-pages-test.yml
  docs/docs/Getting Started/developer.md
  src/Core.Networking/Core.Networking.csproj
  src/Core/Core.csproj
  src/CorePluginAPI/CorePluginAPI.csproj
  src/Data/Auth.Persistence/Auth.Persistence.csproj
  src/Data/Core.Caching/Core.Caching.csproj
  src/Data/Core.Persistence/Core.Persistence.csproj
  src/Data/Game.Persistence/Game.Persistence.csproj
  src/Directory.Build.props
  src/Executables/Auth/Dockerfile
  src/Executables/DocsGenerator/DocsGenerator.csproj
  src/Executables/Game/Dockerfile
  src/Libraries/Game.Commands/Game.Commands.csproj
  src/Libraries/Game.Server/Game.Server.csproj
  src/Plugins/ExamplePlugin/ExamplePlugin.csproj
  src/Plugins/PrometheusPlugin/PrometheusPlugin.csproj
  src/Tests/Core.Caching.Tests/Core.Caching.Tests.csproj
  src/Tests/Data.Auth.Tests/Data.Auth.Tests.csproj
  src/Tests/Game.Commands.Tests/Game.Commands.Tests.csproj
  src/Tests/Game.Tests/Game.Tests.csproj
  src/Weikio.PluginFramework.Microsoft.DependencyInjection/Weikio.PluginFramework.Microsoft.DependencyInjection.csproj
  src/global.json
Labels: type/enhancement, area/dev, area/ci

#207 feat(game): made atlasinfo.txt optional by providing default values
  src/Libraries/Game.Server/Services/AtlasProvider.cs
Labels: type/enhancement, area/game

#221 fix(game): command validation
  docs/docs/Configuration/game.md
  src/Executables/DocsGenerator/CommandDocsGenerator.cs
  src/Libraries/Game.Commands/CommandManager.cs
  src/Libraries/Game.Commands/CommandValidationException.cs
  src/Libraries/Game.Server/Commands/AdvanceCommand.cs
  src/Tests/Game.Commands.Tests/CommandManagerTests.cs
  src/Tests/Game.Commands.Tests/Game.Commands.Tests.csproj
Labels: type/bug, area/game

#208 feat: npc shops
  docs/docs/Configuration/index.md
  docs/docs/Configuration/shops.md
  src/CorePluginAPI/IItemManager.cs
  src/CorePluginAPI/INpcShopProvider.cs
  src/Libraries/Game.Server/ItemManager.cs
  src/Libraries/Game.Server/Packets/Shop/ShopOpen.cs
  src/Libraries/Game.Server/Shops/NpcShopProvider.cs
  src/Libraries/Game.Server/World/Shop.cs
  src/Libraries/Game.Server/World/World.cs
  src/Tests/Core.Tests/MapTests.cs
  src/Tests/Core.Tests/OutgoingPacketTests.cs
  src/Tests/Game.Tests/CommandTests.cs
  src/Tests/Game.Tests/WorldTests.cs
Labels: type/feature, area/game

#196 hotfix: movement speed penalty attack speed application
  src/Libraries/Game.Server/Extensions/ItemExtensions.cs
  src/Libraries/Game.Server/PlayerConstants.cs
  src/Libraries/Game.Server/World/Entities/Entity.cs
  src/Libraries/Game.Server/World/Entities/PlayerEntity.cs
  src/Tests/Game.Tests/ItemProtoTests.cs
Labels: type/bug, requires/test
