Repository MeikelLP/quantum-core-x, pull requests merged in 2024-05, with the labels that each got.

#106 Implement command to reload the current loaded permissions
  src/CorePluginAPI/Game/World/IPlayerEntity.cs
  src/CorePluginAPI/Game/World/IWorld.cs
  src/Executables/Game/Commands/CommandManager.cs
  src/Executables/Game/Commands/ICommandManager.cs
  src/Executables/Game/Commands/ReloadPermissionsCommand.cs
  src/Executables/Game/World/Entities/PlayerEntity.cs
  src/Executables/Game/World/World.cs
  src/Tests/Core.Tests/CommandTests.cs
Labels: good first issue, type/feature, area/game

#108 Use ChatInfo instead of ChatMessage when target is not found
  src/Executables/Game/Commands/GiveItemCommand.cs
  src/Tests/Core.Tests/CommandTests.cs
Labels: type/bug, area/game

#112 ADD /item command
  src/Executables/Game/Commands/ItemCommand.cs
Labels: type/feature, area/game

#115 FIX loading max hp + sp
  src/Executables/Game/World/Entities/PlayerEntity.cs
Labels: type/bug, area/game

#116 FIX default job values config
  src/Executables/Game/Extensions/ConfigurationExtensions.cs
Labels: type/bug, area/game

#114 FIX permission group reload
  src/Core/Extensions/ServiceExtensions.cs
  src/Data/Game.Persistence/CommandPermissionRepository.cs
  src/Executables/Game/Extensions/ServiceExtensions.cs
  src/Executables/Game/IPlayerFactory.cs
  src/Executables/Game/PacketHandlers/Select/SelectGameCharacterHandler.cs
  src/Executables/Game/PlayerFactory.cs
  src/Executables/Game/World/Entities/PlayerEntity.cs
  src/Executables/Game/World/Map.cs
  src/Tests/Core.Tests/CommandTests.cs
Labels: type/bug, area/game

#117 improve exp manager load error
  docs/docs/API/configuration.md
  src/Executables/Game/PlayerUtils/ExperienceManager.cs
Labels: type/enhancement, area/game

#119 Implement heal/restore on partial level up
  src/Executables/Game/Game.csproj
  src/Executables/Game/World/Entities/PlayerEntity.cs
  src/Tests/Game.Tests/CalcTests.cs
Labels: type/feature, area/game

#120 FIX player persistence
  src/CorePluginAPI/Game/World/IPlayerEntity.cs
  src/CorePluginAPI/Game/World/IWorld.cs
  src/Data/Game.Caching/CachePlayerRepository.cs
  src/Data/Game.Caching/ICachePlayerRepository.cs
  src/Data/Game.Persistence/DbPlayerRepository.cs
  src/Data/Game.Persistence/Entities/Player.cs
  src/Data/Game.Persistence/IDbPlayerRepository.cs
  src/Executables/Game/Commands/KickCommand.cs
  src/Executables/Game/Commands/LogoutCommand.cs
  src/Executables/Game/Commands/PhaseSelectCommand.cs
  src/Executables/Game/Commands/QuitCommand.cs
  src/Executables/Game/IPlayerManager.cs
  src/Executables/Game/PlayerManager.cs
  src/Executables/Game/World/Entities/PlayerEntity.cs
  src/Executables/Game/World/World.cs
  src/Tests/Core.Tests/CommandTests.cs
Labels: type/bug, area/game

#124 Fix LoginFailed packet structure
  src/Executables/Auth/Packets/LoginFailed.cs
Labels: type/bug, area/auth

#131 Change default logging behaviour
  .github/workflows/dotnet-pipeline.yml
  src/Core/Extensions/ServiceExtensions.cs
  src/Executables/Game/appsettings.json
  src/Tests/Auth.Tests/Extensions/ServiceExtensions.cs
  src/Tests/Auth.Tests/MigrateTests.cs
  src/Tests/Core.Tests/CommandTests.cs
  src/Tests/Core.Tests/Extensions/ServiceExtensions.cs
  src/Tests/Core.Tests/IncomingPacketTests.cs
  src/Tests/Core.Tests/MapTests.cs
  src/Tests/Core.Tests/OutgoingPacketTests.cs
Labels: type/enhancement, area/game, area/ci, area/tests

#133 Change player id uint
  src/CorePluginAPI/Core/Models/IPlayer.cs
  src/CorePluginAPI/Core/Models/ItemInstance.cs
  src/CorePluginAPI/Game/Permission.cs
  src/CorePluginAPI/IEquipment.cs
  src/CorePluginAPI/IInventory.cs
  src/CorePluginAPI/IPlayerRepository.cs
  src/Data/Game.Caching/CachePlayerRepository.cs
  src/Data/Game.Caching/ICachePlayerRepository.cs
  src/Data/Game.Persistence/CommandPermissionRepository.cs
  src/Data/Game.Persistence/DbPlayerRepository.cs
  src/Data/Game.Persistence/Entities/DeletedPlayer.cs
  src/Data/Game.Persistence/Entities/Item.cs
  src/Data/Game.Persistence/Entities/PermAuth.cs
  src/Data/Game.Persistence/Entities/PermGroup.cs
  src/Data/Game.Persistence/Entities/PermUser.cs
  src/Data/Game.Persistence/Entities/Player.cs
  src/Data/Game.Persistence/IDbPlayerRepository.cs
  src/Data/Game.Persistence/ItemRepository.cs
  src/Data/Game.Persistence/Migrations/Mysql/20240513161436_Initial.Designer.cs
  src/Data/Game.Persistence/Migrations/Mysql/20240513161436_Initial.cs
  src/Data/Game.Persistence/Migrations/Mysql/MySqlGameDbContextModelSnapshot.cs
  src/Data/Game.Persistence/Migrations/Postgresql/20240513162434_Initial.Designer.cs
  src/Data/Game.Persistence/Migrations/Postgresql/20240513162434_Initial.cs
  src/Data/Game.Persistence/Migrations/Postgresql/PostgresqlGameDbContextModelSnapshot.cs
  src/Data/Game.Persistence/Migrations/Sqlite/20240513161433_Initial.Designer.cs
  src/Data/Game.Persistence/Migrations/Sqlite/20240513161433_Initial.cs
  src/Data/Game.Persistence/Migrations/Sqlite/SqliteGameDbContextModelSnapshot.cs
  src/Data/Game.Persistence/add-migration.ps1
  src/Executables/Game/Extensions/ItemExtensions.cs
  src/Executables/Game/IPlayerManager.cs
  src/Executables/Game/PacketHandlers/Select/EmpireHandler.cs
  src/Executables/Game/PlayerManager.cs
  src/Executables/Game/PlayerUtils/Equipment.cs
  src/Executables/Game/PlayerUtils/Inventory.cs
  src/Executables/Game/World/Entities/PlayerEntity.cs
  src/Tests/Core.Tests/CommandTests.cs
  src/Tests/Game.Tests/InventoryTests.cs
  src/Tests/Game.Tests/PlayerManagerTests.cs
Labels: type/bug, area/game

#138 Implement option to define command alias
  src/CorePluginAPI/Game/Command.cs
  src/Executables/Game/Commands/CommandManager.cs
Labels: type/enhancement, area/game

#137 /user command was using invalid chat type
  src/Executables/Game/Commands/UserCommand.cs
  src/Tests/Core.Tests/CommandTests.cs
Labels: type/bug, area/game

#136 Implement empire start coordinates on character creation
  src/Executables/Game/Extensions/ConfigurationExtensions.cs
  src/Executables/Game/Extensions/GameOptions.cs
  src/Executables/Game/PacketHandlers/TokenLoginHandler.cs
  src/Executables/Game/PlayerManager.cs
  src/Tests/Core.Tests/CommandTests.cs
  src/Tests/Game.Tests/PlayerManagerTests.cs
Labels: type/bug, type/feature, area/game

#139 Implement /advance command
  src/CorePluginAPI/Game/Types/EPoints.cs
  src/Executables/Game/Commands/AdvanceCommand.cs
  src/Executables/Game/Quest/LevelUpQuest.cs
  src/Executables/Game/World/Entities/PlayerEntity.cs
  src/Tests/Core.Tests/CommandTests.cs
Labels: type/feature, area/game

#141 Replace Moq with NSubstitute
  src/Core/Extensions/ServiceExtensions.cs
  src/Game.Benchmarks/Benchmarks/WorldUpdateBenchmark.cs
  src/Game.Benchmarks/Game.Benchmarks.csproj
  src/Tests/Data.Auth.Tests/AccountManagerTests.cs
  src/Tests/Data.Auth.Tests/Data.Auth.Tests.csproj
Labels: type/enhancement, type/refactor
